Repository ozonesecretariat/contactdb: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: npm run lint:prettier:check:staged
  language: system

eslint:
  name: eslint
  entry: npm run lint:eslint:check:staged
  language: system

Preserve image when saving without changing it.
  cypress/e2e/2.frontend/4.token-auth/1.nominations.cy.js
  src/components/nominations/ParticipantForm.vue
Due: prettier, eslint

Update frontend dependencies
  package-lock.json
  package.json
Due: prettier

Update backend dependencies
  pyproject.toml
  uv.lock
Due: none

Fix debug toolbar urls
  contactdb/urls.py
Due: none

Update backend and frontend dependencies (#200)
  contactdb/urls.py
  package-lock.json
  package.json
  pyproject.toml
  uv.lock
Due: prettier

Fixing Vue warnings for participant form photo; more robust solution for #32666 (#199)
  cypress/e2e/2.frontend/4.token-auth/1.nominations.cy.js
  fixtures/test/files/test-logo2.png
  src/boot/initStore.ts
  src/components/nominations/ParticipantForm.vue
  src/composables/useFormErrors.ts
Due: prettier, eslint

Add more fields to the registration export
  common/model_admin.py
  events/admin.py
Due: none

Add more placeholders
  contactdb/settings/settings.py
  core/models.py
  cypress/e2e/1.admin/5.emails/2.emails.cy.js
  fixtures/test/contact.json
  fixtures/test/organization.json
Due: prettier, eslint

Fix test
  cypress/e2e/1.admin/6.events/7.registrations.cy.js
Due: prettier, eslint

Add more placeholders (#202)
  contactdb/settings/settings.py
  core/models.py
  cypress/e2e/1.admin/5.emails/2.emails.cy.js
  fixtures/test/contact.json
  fixtures/test/organization.json
Due: prettier, eslint

Add extra search fields
  api/views/registration.py
Due: none

Sort by country name
  api/views/registration.py
  events/exports/dsa.py
  events/models.py
Due: none

Add number formats
  events/exports/dsa.py
Due: none

Disable django debug toolbar while testing
  contactdb/settings/testing.py
Due: none

Add tests
  events/tests/test_dsa.py
Due: none

Fix tests
  cypress/e2e/2.frontend/3.events/3.delegates.cy.js
Due: prettier, eslint

Add more fields to the registration export (#201)
  common/model_admin.py
  cypress/e2e/1.admin/6.events/7.registrations.cy.js
  events/admin.py
Due: prettier, eslint

Dsa changes (#203)
  api/views/registration.py
  contactdb/settings/testing.py
  cypress/e2e/2.frontend/3.events/3.delegates.cy.js
  events/exports/dsa.py
  events/models.py
  events/tests/test_dsa.py
Due: prettier, eslint

Fix check for single-day events
  common/dates.py
  events/tests/test_priority_pass.py
Due: none

Fix wifi logo alignment
  templates/admin/events/prioritypass/badge/badge_base.html
Due: prettier

Add the ability to print badges from the API
  api/serializers/priority_pass.py
  api/views/priority_pass.py
Due: none

Add code in the priority pass search
  api/serializers/priority_pass.py
  api/views/priority_pass.py
Due: none

Add tests for priority pass downloads
  api/tests/base.py
  api/tests/test_priority_pass.py
Due: none

Don't require is_staff permission to print badges (#206)
  api/serializers/priority_pass.py
  api/tests/base.py
  api/tests/test_priority_pass.py
  api/views/priority_pass.py
Due: none

Fix LoP generation when a registration is missing it's role
  events/exports/list_of_participants.py
  events/tests/test_lop.py
Due: none

Exclude sendemailtask from auditlog
  contactdb/settings/settings.py
Due: none

Add the option to disable kronos stuff from the admin
  .env.example
  contactdb/settings/settings.py
  core/admin/contact.py
  events/admin.py
Due: none

Also hide resolve conflict and import photos
  core/admin/import_contact_photos_task.py
  core/admin/resolve_conflict.py
  events/admin.py
Due: none

Fix test
  core/admin/tests/test_import_images.py
Due: none

Fix import
  core/admin/import_contact_photos_task.py
Due: none

Fix for error in LoP due to None sort order
  events/models.py
Due: none

Disable kronos imports config (#209)
  .env.example
  contactdb/settings/settings.py
  core/admin/contact.py
  core/admin/import_contact_photos_task.py
  core/admin/resolve_conflict.py
  core/admin/tests/test_import_images.py
  events/admin.py
Due: none

Fix for error in LoP due to None sort order, refs #33234
  events/models.py
Due: none

Recreate migration
  emails/migrations/0013_email_is_draft.py
Due: none

Fix tests
  emails/tests/test_admin_drafts.py
Due: none

Feature: draft emails, refs #31243 (#134)
  cypress/e2e/1.admin/5.emails/2.emails.cy.js
  emails/admin.py
  emails/migrations/0013_email_is_draft.py
  emails/models.py
  emails/tests/factories.py
  emails/tests/test_admin_drafts.py
  templates/admin/emails/email/change_form.html
  templates/admin/emails/email/submit_line.html
  templates/admin/emails/invitationemail/change_form.html
  templates/admin/emails/invitationemail/submit_line.html
Due: prettier, eslint

Allow only printing the front of the badge
  api/tests/test_priority_pass.py
  api/views/priority_pass.py
  src/pages/ScanPassPage.vue
  templates/admin/events/prioritypass/badge/badge_base.html
Due: prettier, eslint

Resolve conflict is needed for resolving duplicate
  core/admin/resolve_conflict.py
Due: none

Change font
  events/exports/list_of_participants.py
Due: none

Remove accents when sorting
  events/exports/list_of_participants.py
  pyproject.toml
  uv.lock
Due: none

Path conditions:
  prettier: any of: \.(js|jsx|ts|tsx|json|css|scss|md|html|yaml|yml|vue)$
  eslint: any of: \.(js|jsx|ts|tsx|vue)$
