Repository ozonesecretariat/contactdb: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.12 # run `pre-commit autoupdate` to update this
    hooks:
      - id: ruff # This runs `ruff check`
      - id: ruff-format # This runs `ruff format --check`
        args: [--check]

  - repo: local # Use 'local' for custom hooks that aren't part of a pre-defined repository
    hooks:
      - id: prettier
        name: prettier
        entry: npm run lint:prettier:check:staged
        language: system
        files: \.(js|jsx|ts|tsx|json|css|scss|md|html|yaml|yml|vue)$
      - id: eslint
        name: eslint
        entry: npm run lint:eslint:check:staged
        language: system
        files: \.(js|jsx|ts|tsx|vue)$

Add the ability to change registration tag name (#186)
  core/admin/organization_type.py
  core/migrations/0042_organizationtype_protected.py
  core/models.py
  events/admin.py
  events/migrations/0025_newregistrationtag_registration_new_tags.py
  events/migrations/0026_remove_registration_tags_delete_registrationtag.py
  events/migrations/0027_registrationtag_protected.py
  events/models.py
  fixtures/initial/organizationtype.json
  fixtures/initial/registrationrole.json
  fixtures/initial/registrationtag.json
  fixtures/initial/role.json
  fixtures/test/registration.json
Due: prettier

Change registered to accredited in pre-statistics
  events/exports/statistics.py
Due: none

Add the ability to download DSA files in bulk (#188)
  api/views/event.py
  cypress/e2e/1.admin/6.events/1.events.cy.js
  cypress/e2e/2.frontend/3.events/3.delegates.cy.js
  events/admin.py
  events/apps.py
  events/exports/dsa.py
  events/models.py
  events/signals.py
  events/tests/test_dsa.py
  pyproject.toml
  src/pages/DelegatesPage.vue
  uv.lock
Due: prettier, eslint

Add audit update/create entries for contact and org
  common/model_admin.py
  core/admin/contact.py
  core/admin/organization.py
Due: none

Changing column order and fixing tests
  events/exports/statistics.py
  events/tests/test_post_statistics.py
Due: none

Updating pre-meeting HL
  events/exports/statistics.py
Due: none

Post-meeting table changes, refs #32449 (#189)
  events/exports/statistics.py
  events/tests/test_post_statistics.py
Due: none

Export the exact filtered records instead of hardcoded ones
  api/views/registration.py
  events/exports/dsa.py
  src/pages/DelegatesPage.vue
  src/router/routes.ts
Due: prettier, eslint

Allow filtering by multiple status values
  api/views/registration.py
  common/filters.py
  src/pages/DelegatesPage.vue
  src/stores/userStore.ts
Due: prettier, eslint

Add date ranges for groups
  common/dates.py
  events/exports/dsa.py
  events/models.py
Due: none

Typo
  events/exports/dsa.py
Due: none

Add tests
  events/tests/test_dsa.py
Due: none

Fix filtering by status from URL
  src/pages/DelegatesPage.vue
Due: prettier, eslint

Dsa report filters and title changes (#191)
  api/views/registration.py
  common/dates.py
  common/filters.py
  events/exports/dsa.py
  events/models.py
  events/tests/test_dsa.py
  src/pages/DelegatesPage.vue
  src/router/routes.ts
  src/stores/userStore.ts
Due: prettier, eslint

Change assement panel acronym
  api/tests/test_nominations.py
  core/models.py
  emails/tests/test_invitation_email_admin.py
  events/tests/test_dsa.py
  events/tests/test_lop.py
  events/tests/test_post_statistics.py
  fixtures/initial/organizationtype.json
  fixtures/test/organization.json
Due: prettier

Copy credentials to registration on nomination
  api/tests/test_nominations.py
  api/views/nomination.py
  events/admin.py
  events/migrations/0028_registration_credentials_and_more.py
  events/models.py
Due: none

Fix test
  events/tests/test_admin.py
Due: none

Add configurable option for what counts as "recent event"
  api/views/event.py
  api/views/priority_pass.py
  contactdb/settings/settings.py
  src/components/dialogs/SearchPass.vue
  src/pages/DashboardPage.vue
  src/pages/DelegatesPage.vue
  src/pages/EventsPage.vue
Due: prettier, eslint

Add timezone field for event
  events/admin.py
  events/migrations/0028_event_timezone.py
  events/models.py
  pyproject.toml
  static/js/admin.js
  uv.lock
Due: prettier, eslint

Fix duplicate passes in the search results
  api/views/priority_pass.py
  contactdb/settings/settings.py
Due: none

Change color based on current pass validity
  api/serializers/priority_pass.py
  contactdb/settings/settings.py
  events/models.py
  src/pages/ScanPassPage.vue
  src/types/priorityPass.d.ts
Due: prettier, eslint

Add tests
  events/tests/test_priority_pass.py
Due: none

Fix initializing select2
  static/js/admin.js
Due: prettier, eslint

Don't allow strange changing organization if contact is primary/secondary
  core/models.py
Due: none

Move lop to proper package
  events/admin.py
  events/exports/list_of_participants.py
Due: none

Move the HL table to the end in pre-stats
  events/exports/statistics.py
  events/tests/test_pre_statistics.py
Due: none

Fix creating contacts
  core/models.py
Due: none

Add timezone to events (#194)
  api/serializers/priority_pass.py
  api/views/event.py
  api/views/priority_pass.py
  contactdb/settings/settings.py
  events/admin.py
  events/migrations/0028_event_timezone.py
  events/models.py
  events/tests/test_priority_pass.py
  pyproject.toml
  src/components/dialogs/SearchPass.vue
  src/pages/DashboardPage.vue
  src/pages/DelegatesPage.vue
  src/pages/EventsPage.vue
  src/pages/ScanPassPage.vue
  src/types/priorityPass.d.ts
  static/js/admin.js
  uv.lock
Due: prettier, eslint

Sync main branch + update migration name
  events/migrations/0029_registration_credentials_and_more.py
Due: none

Don't allow changing organization if contact is primary/secondary (#195)
  core/models.py
Due: none

Fix typo in migration name
  events/migrations/0029_registration_credentials_and_more.py
Due: none

Copy credentials to registration on nomination (#193)
  api/tests/test_nominations.py
  api/views/nomination.py
  events/admin.py
  events/migrations/0029_registration_credentials_and_more.py
  events/models.py
  events/tests/test_admin.py
Due: none

Handle missing photo case
  common/serializers.py
Due: none

Add check for saving without photo
  cypress/e2e/2.frontend/4.token-auth/1.nominations.cy.js
Due: prettier, eslint

Filter by has_credentials on the registration
  events/admin.py
Due: none

Fix nomination without photo (#197)
  common/serializers.py
  cypress/e2e/2.frontend/4.token-auth/1.nominations.cy.js
Due: prettier, eslint

Fix update for contacts with pre-existing photo. Also fix pre-commit hooks
  .pre-commit-config.yaml
  src/components/nominations/ParticipantForm.vue
Due: prettier, eslint

Fixing Vue warnings; more robust solution
  src/components/nominations/ParticipantForm.vue
Due: prettier, eslint

Capture console errors to sentry
  src/boot/initStore.ts
  src/composables/useFormErrors.ts
Due: prettier, eslint

Add more test cases
  cypress/e2e/2.frontend/4.token-auth/1.nominations.cy.js
  fixtures/test/files/test-logo2.png
Due: prettier, eslint
