Repository ozonesecretariat/contactdb: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.12 # run `pre-commit autoupdate` to update this
    hooks:
      - id: ruff # This runs `ruff check`
      - id: ruff-format # This runs `ruff format --check`
        args: [--check]

  - repo: local # Use 'local' for custom hooks that aren't part of a pre-defined repository
    hooks:
      - id: prettier
        name: prettier
        entry: npm run lint:prettier:check:staged
        language: system
        files: \.(js|jsx|ts|tsx|json|css|scss|md|html|yaml|yml|vue)$
      - id: eslint
        name: eslint
        entry: npm run lint:eslint:check:staged
        language: system
        files: \.(js|jsx|ts|tsx|vue)$

Simplify statistisc api
  api/views/event.py
  src/types/statistics.d.ts
Due: prettier, eslint

Add more charts
  src/components/charts/BarChart.vue
  src/components/charts/DataByOrganizationType.vue
  src/components/charts/DataByStatus.vue
  src/components/charts/PieChart.vue
  src/pages/DashboardPage.vue
  src/utils/chart.ts
Due: prettier, eslint

Change chart colors
  src/components/charts/BarChart.vue
  src/components/charts/PieChart.vue
  src/constants.ts
  src/pages/DashboardPage.vue
Due: prettier, eslint

Use human name for groups
  src/pages/DashboardPage.vue
Due: prettier, eslint

Only show current events
  api/views/event.py
  src/pages/DashboardPage.vue
  src/pages/DelegatesPage.vue
  src/pages/EventsPage.vue
Due: prettier, eslint

Fix tests
  cypress/e2e/2.frontend/3.events/1.events.cy.js
  cypress/e2e/2.frontend/3.events/2.scan-pass.cy.js
  fixtures/test/event.json
Due: prettier, eslint

Fix no events state
  src/pages/DashboardPage.vue
  src/pages/DelegatesPage.vue
Due: prettier, eslint

Link dashboard and events page
  src/pages/EventsPage.vue
Due: prettier, eslint

Avoid double loading
  src/pages/DelegatesPage.vue
Due: prettier, eslint

Use unaccented searches
  api/views/registration.py
Due: none

Add tests
  api/views/event.py
  cypress/e2e/2.frontend/2.home/1.home.cy.js
  cypress/e2e/2.frontend/3.events/1.events.cy.js
  cypress/e2e/2.frontend/3.events/4.dashboard.cy.js
  cypress/support/commands.js
  fixtures/test/contact.json
  fixtures/test/email.json
  fixtures/test/organization.json
  fixtures/test/user.json
  src/components/charts/BarChart.vue
  src/components/charts/PieChart.vue
  src/pages/DashboardPage.vue
  src/pages/EventsPage.vue
Due: prettier, eslint

Recreate view migration
  events/migrations/0023_auto_20250929_0702.py
  events/migrations/0023_auto_20251001_0931.py
Due: none

Fix tests
  cypress/e2e/2.frontend/1.permissions/1.redirects.cy.js
  cypress/e2e/2.frontend/3.events/3.delegates.cy.js
Due: prettier, eslint

Hide certain columns in some of the Delegate pages
  src/pages/DelegatesPage.vue
  src/router/routes.ts
Due: prettier, eslint

Add mandatory fields
  events/models.py
Due: none

Add the ability to edit tags
  api/serializers/event.py
  src/components/dialogs/DsaForm.vue
  src/pages/DelegatesPage.vue
Due: prettier, eslint

Add missing migration
  events/migrations/0022_alter_dsa_bp_alter_dsa_umoja_travel.py
Due: none

Adding QR code for event invitation link
  events/admin.py
  events/models.py
  pyproject.toml
  uv.lock
Due: none

Adding event code as link
  events/admin.py
Due: none

Simplify redirect to the appropiate page
  cypress/support/commands.js
  src/boot/initStore.ts
  src/pages/HomePage.vue
  src/router/index.ts
  src/stores/userStore.ts
Due: prettier, eslint

Use "No response" instead of "N/A"
  api/views/event.py
Due: none

Adding page breaks for all observers subsections
  events/list_of_participants.py
Due: none

Fix DSA tests
  cypress/e2e/2.frontend/3.events/3.delegates.cy.js
Due: prettier, eslint

Add the ability to download DSA file
  api/views/event.py
  cypress/e2e/2.frontend/3.events/3.delegates.cy.js
  src/pages/DelegatesPage.vue
  src/router/routes.ts
Due: prettier, eslint

Increasing left indent for participant details
  events/list_of_participants.py
Due: none

Add dashboard with some statistics chart in the frontend (#182)
  api/views/event.py
  cypress/e2e/2.frontend/1.permissions/1.redirects.cy.js
  cypress/e2e/2.frontend/2.home/1.home.cy.js
  cypress/e2e/2.frontend/3.events/1.events.cy.js
  cypress/e2e/2.frontend/3.events/2.scan-pass.cy.js
  cypress/e2e/2.frontend/3.events/3.delegates.cy.js
  cypress/e2e/2.frontend/3.events/4.dashboard.cy.js
  cypress/support/commands.js
  events/migrations/0022_annotatedregistration.py
  events/migrations/0023_auto_20251001_0931.py
  events/models.py
  fixtures/test/contact.json
  fixtures/test/email.json
  fixtures/test/event.json
  fixtures/test/organization.json
  fixtures/test/user.json
  package-lock.json
  package.json
  src/boot/initStore.ts
  src/components/charts/BarChart.vue
  src/components/charts/PieChart.vue
  src/constants.ts
  src/pages/DashboardPage.vue
  src/pages/DelegatesPage.vue
  src/pages/EventsPage.vue
  src/pages/HomePage.vue
  src/router/index.ts
  src/router/routes.ts
  src/stores/userStore.ts
  src/types/country.d.ts
  src/types/organization.d.ts
  src/types/statistics.d.ts
  src/utils/chart.ts
Due: prettier, eslint

Invitation link qr code, refs #32238 (#183)
  events/admin.py
  events/models.py
  pyproject.toml
  uv.lock
Due: none

List of participants changes, refs #32237 (#185)
  events/list_of_participants.py
Due: none

Recreate migration
  api/views/event.py
  events/migrations/0024_alter_dsa_bp_alter_dsa_umoja_travel.py
Due: none

Handle empty report
  events/exports/dsa.py
Due: none

Fix event code name
  cypress/e2e/1.admin/6.events/1.events.cy.js
  cypress/e2e/2.frontend/3.events/3.delegates.cy.js
Due: prettier, eslint

DSA pages adjustments (#184)
  api/serializers/event.py
  api/views/event.py
  api/views/registration.py
  cypress/e2e/1.admin/6.events/1.events.cy.js
  cypress/e2e/2.frontend/3.events/3.delegates.cy.js
  events/exports/dsa.py
  events/migrations/0024_alter_dsa_bp_alter_dsa_umoja_travel.py
  events/models.py
  src/components/dialogs/DsaForm.vue
  src/pages/DelegatesPage.vue
  src/router/routes.ts
Due: prettier, eslint

Don't allow modifying certain tags and types
  core/admin/organization_type.py
  core/migrations/0042_organizationtype_protected.py
  core/models.py
  events/admin.py
  events/migrations/0027_registrationtag_protected.py
  events/models.py
  fixtures/initial/organizationtype.json
  fixtures/initial/registrationrole.json
  fixtures/initial/registrationtag.json
  fixtures/initial/role.json
Due: prettier

Allow changing tag names
  events/migrations/0025_newregistrationtag_registration_new_tags.py
  events/migrations/0026_remove_registration_tags_delete_registrationtag.py
  events/models.py
  fixtures/initial/registrationtag.json
  fixtures/test/registration.json
Due: prettier

Add hint
  src/components/EncryptedFileInput.vue
Due: prettier, eslint

Filter by current events only in pass search
  api/views/event.py
  api/views/priority_pass.py
  src/components/dialogs/SearchPass.vue
Due: prettier, eslint

Add the ability to download DSA files in bulk
  api/views/event.py
  events/admin.py
  events/exports/dsa.py
  pyproject.toml
  src/pages/DelegatesPage.vue
  uv.lock
Due: prettier, eslint

Add tests for DSA exports
  cypress/e2e/1.admin/6.events/1.events.cy.js
  cypress/e2e/2.frontend/3.events/3.delegates.cy.js
  events/admin.py
  events/tests/test_dsa.py
Due: prettier, eslint

Table changes
  events/exports/statistics.py
  events/tests/test_post_statistics.py
Due: none

Pre-compute pdf files and cache them
  events/apps.py
  events/exports/dsa.py
  events/models.py
  events/signals.py
Due: none
